{# Script para atualizar o campo Sentimento #}
{{issue  | issueProperty( "analise_sentimento" ) | field("Sentimento") }}

{# Script para atualizar o campo Motivo do Sentimento #}
{{issue  | issueProperty( "analise_sentimento" ) | field("Motivo do Sentimento") }}

{# Script para atualizar o campo Serviço #}
{{issue  | issueProperty( "analise_sentimento" ) | field("Categoria") }}
