{{issue  | issueProperty( "analise_sentimento" ) | field("Sentimento") }}
{{issue  | issueProperty( "analise_sentimento" ) | field("Motivo do Sentimento") }}
{{issue  | issueProperty( "analise_sentimento" ) | field("Categoria") }}
